@media (min-width: 320px){html{font-size: 32px;} }
@media (min-width: 360px){html{font-size: 36px;} }
@media (min-width: 375px){html{font-size: 37.5px;} }
@media (min-width: 384px){html{font-size: 38.4px;} }
@media (min-width: 414px){html{font-size: 41.4px;} }
@media (min-width: 448px){html{font-size: 44.8px;} }
@media (min-width: 480px){html{font-size: 48px;} }
@media (min-width: 512px){html{font-size: 51.2px;} }
@media (min-width: 544px){html{font-size: 54.4px;} }
@media (min-width: 576px){html{font-size: 57.6px;} }
@media (min-width: 608px){html{font-size: 608px;} }
@media (min-width: 640px){html{font-size: 64px;} }
@media (min-width: 750px){html{font-size: 75px;} }

/**
 * 清除默认样式
 */
 body,html{
  background:#F6F6F6 ;
}
html,body,div,p,span,img,ul,li,input,form,a,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
ul>li{
	list-style: none;
}
img{
	vertical-align: top;
}
a{
	color: #000000;
}
/**
 * 公共样式
 */
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

/* 布局样式 */
.fl{
	float: left;
}
.fr{
	float: right;
}
/* 清除浮动的影响 */
.clear{
	clear: both;
}
